.cen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 7px 7px 10px 1px #758283 ;
}
.bg {
    background: url("img/hero.jpg") no-repeat fixed center / cover;
}
.iconify {
    font-size: 3rem;
}

hr {
    background-color: #323030;
    width: 10%;
}

.f1 {
    font-family: Josefin Sans;
}

.f2 {
    font-family: Nothing You Could Do;
}
/* m e d i a */

@media screen and (max-width: 750px){
    .bg{
        background: url("img/mobile.jpg") no-repeat fixed center / cover;       
    }
    .hide{
        display: none;
    }
}
/* T E M P L A T E */
.tit_1 {

}
.tit_2{

}
.tit_3{

}
.sec-1{

}
.sec-p{

}

/* W E B S I T E */

.navbar {
    background-color: transparent;
}

.hero.is-fullheight .hero-body {
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}

.hero-body .title {
    font-size: 4rem;
}

